@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

.markdown img {
	@apply mt-4 max-w-full h-auto block mx-auto;
	max-height: 60vh; /* cap super tall images */
	object-fit: contain;
}

body {
	line-height: 1.6;
	font-size: 18px;
	color: #333;
}

img {
	border-radius: 4px;
}
