@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	--color-main: #303030;
}

@font-face {
	font-family: "newsreader";
	src: url('/fonts/newsreader_regular_font.ttf'), url('/fonts/newsreader_italic_font.ttf');
}

.markdown img {
	@apply mt-4 max-w-full h-auto block mx-auto;
	max-height: 60vh; /* cap super tall images */
	object-fit: contain;
}

body {
	line-height: 1.6;
	font-size: 1.3rem;
	color: #303030;
	font-family: "newsreader";
}

p {
	margin: 0 0 1.75rem;
}

h4 {
	margin: 0 0 0.5rem;
}

ul {
	margin: 0 0 1.75rem;
}

img {
	border-radius: 4px;
}

a {
	color: #3800b5;
	transition: 0.25s;
}

code {
	font-size: 1rem;
	background-color: #f2f2f2;
	padding: 0.1rem 0.2rem;
	border-radius: 0.3rem;
}

a:hover {
	background-color: #3800b517;
}

a.no-hover:hover {
	background-color: unset !important;
	color: unset !important;
}

.chapters {
	display: flex;
	border-bottom: 1px dotted black;
	gap: 10px;
	margin: 10px 0px 50px 0px;
}

.chapters p {
	margin: 0px;
}
