@layer theme, base, components, utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	--color-main: #303030;
}

.markdown img {
	@apply mt-4 max-w-full h-auto block mx-auto;
	max-height: 60vh; /* cap super tall images */
	object-fit: contain;
}

body {
	line-height: 1.8;
	font-size: 1.1rem;
	color: #000;
	font-family: "IBM Plex Serif";
	background: #f8f9fa;
}

p {
	margin: 0 0 1.75rem;
}

h4 {
	margin: 0 0 0.5rem;
}

ul {
	margin: 0 0 1.75rem;
}

img {
	border-radius: 4px;
}

a {
	color: #3800b5;
	transition: 0.25s;
}

code {
	font-size: 1rem;
	background-color: #f2f2f2;
	padding: 0.1rem 0.2rem;
	border-radius: 0.3rem;
}

a:hover {
	background-color: #3800b517;
}

a.no-hover:hover {
	background-color: unset !important;
	color: unset !important;
}

.chapters {
	display: flex;
	border-bottom: 1px dotted black;
	gap: 10px;
	margin: 10px 0px 50px 0px;
}

.chapters p {
	margin: 0px;
}
